{% extends "base.html" %}
{% block content %}
{% for key,value in results['job'].items() %}
    <h1>{{key}}: {{value}}</h1>
{% endfor %}

        <table>
            <tr>
                <td>Test Type</td>
                <td>Passed</td>
                <td>Failed</td>
                <td>Skipped</td>
                <td>Total</td>
                <td>Success %</td>
            </tr>
            
            {% for name in results %}
                {% if name != 'job' and name != '_id' %}
                    <tr>
                        <td>{{name}}</td>
                        {% for i in results[name].values() %}

                        <td>{{i}}</td>
                    
                    {% endfor %}
                </tr>
                {% endif %}
            {% endfor %}        
        </table>
        <div class = but>
            {% if id > 1 %}
            <a href = "./{{id-1}}"><button> previous </button></a>
            {% endif %}
            {% if last_id > id %}
            <a href = "./{{id+1}}"><button> next </button></a>
            {% endif %}
            <button> update </button>
        </div>
{% endblock %}