<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/Chart.min.css') }}">
    </head>
    <body>
    <nav class = "navbar navbar-expand-lg navbar-dark bg-dark">
        {% block title %}
        {% endblock %}
    </nav>    
        <div>
            {% block content %}{% endblock %}
        </div>
    <script src = "{{url_for('static', filename = 'js/jquery-3.4.1.min.js')}}"></script>
    <script src = "{{url_for('static', filename = 'js/jquery.form.min.js')}}"></script>
    <script src = "{{url_for('static', filename = 'js/popper.min.js')}}"></script>
    <script src = "{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
    <script src = "{{url_for('static', filename = 'js/Chart.min.js')}}"></script>
    {% block script %}
    {% endblock %}
    </body>
</html>
