{% extends "base.html" %}
{% block content %}
    <div class = index>
    <div>
        <h3> Jenkins: </h3>
    </div>
    <div>
        {% for jobname in jobnames.keys() %}
        <a href = "/jobs/{{jobname}}/{{jobnames[jobname]['pk']}}/update"><button >{{jobname}}</button></a>
        {% endfor %}
    </div>
    <div>
        <h3> No Jenkins:</h3>
    </div>
    {% for jobname in names.keys() %}
    <a href = "/stand/{{ jobname }}/{{ names[jobname]['pk'] }}/update"><button>{{jobname}}</button></a>
    {% endfor %}
    </div>
{% endblock %}
