{% extends "base.html" %}
{% block title %}
        <h1 class = "navbar-brand mx-auto"> Home</h1>
{% endblock %}
{% block content %}

    {% for type in get_config() if type != "PATH" and type != "last_update" and type != "db"%}
    <div class = "index">
    <h3> {{type}}:</h3>
        <div> 
            {% for name in get_config()[type]%}
            <form action = "/{{type}}/{{name}}/{{get_config()[type][name]['pk']}}/update" id = "active-form"><button id = "active-button">{{name}}</button></form>
            {% endfor %}
            </div>
    {% endfor %}
    </div>
{% endblock %}
{% block script %}
<script src = "{{url_for('static', filename = 'js/edit_form.js')}}"></script>
{% endblock %}
