{% extends "base.html" %}
{% block title %}
        <h1 class = "navbar-brand mx-auto"> Home</h1>
        <ul class = "navbar-nav">
            <li class = "nav-item">
            <a class = "nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Sign in </a>
            </li>
            </div>
{% endblock %}
{% block content %}
    <div class = index>
    <div>
        <h3> Jenkins: </h3>
    </div>
    <div>
        {% for jobname in jobnames.keys() %}
        <form action= "/jobs/{{jobname}}/{{jobnames[jobname]['pk']}}/update" id = "active-form"><button id = "active-button">{{jobname}}</button></form>
        {% endfor %}
    </div>
    <div>
        <h3> No Jenkins:</h3>
    </div>
    {% for jobname in names.keys() %}
    <form action = "/stand/{{ jobname }}/{{ names[jobname]['pk'] }}" id = "active-form"><button id = "active-button">{{jobname}}</button></form>
    {% endfor %}
    </div>
{% endblock %}
{% block script %}
<script src = "{{url_for('static', filename = 'js/edit_form.js')}}"></script>
{% endblock %}
