{% extends "base.html" %}
{% block title %}
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a class = nav-link href =/ > Home</a>
        </li>
        <li class = "nav-link">
            <a class ="main-but dropdown-toggle" data-toggle= dropdown aria-haspopup = true aria-expanded = false>
                Jobs
            </a>
            <div class=  dropdown-menu>
                {% for jobname in jobnames %}
                {% if jobname == results['job']['name'] %}
                    {% set class = "dropdown-item active" %}
                {% else %}
                    {% set class = "dropdown-item" %}
                {% endif %}                
                <a class = "{{class}}" href =/jobs/{{jobname}}>{{jobname}}</a>
                {% endfor %}
                <div class="dropdown-divider"></div>
                {% for jobname in names %}
                <a class = dropdown-item href =/stand/{{jobname}}>{{jobname}}</a>
                {% endfor %}
            </li>
    </ul>
    {% if name == 'jobs' %}
    <a class = "mx-auto " href = "{{'/'.join([path,results['job']['name'], results['job']['id']|string()]) }}"><h1 class = "navbar-brand"> Job : {{results['job']['name']}} №{{ results['job']['id'] }}</h1></a>
    {% else %}
    <h1 class = "mx-auto navbar-brand"> Stand : {{results['job']['name']}}</h1>
    {% endif %}
{% endblock %}
