{% extends "base.html" %}
{% block content %}
<a href =/ ><button class = main-but> Home</button></a>


<div class = info>
{% for key,value in results['job'].items() %}
    {% if key == 'name' %}
    <h1>{{key}}: {{value}}</h1>
    {% else %}
    <span>
        {{key}}: {{value}}; 
    </span>
    <br>
    {% endif %}
{% endfor %}
        <span>Data was updated {{last_update}}</span>
</div>

        <table class = {{ class }}>
            <caption>
                    Tests results
            </caption> 
            <tr bgcolor = 'silver'>
                <td>Test Type</td>
                <td>Passed</td>
                <td>Failed</td>
                <td>Skipped</td>
                <td>Total</td>
                <td>Success %</td>
            </tr>
            
            {% for name in results %}
                {% if name != 'job' and name != '_id' %}
                    <tr bgcolor = {{ results[name]['color']}}>
                        <td>{{name}}</td>
                        {% for i in results[name] if i != 'color' %}

                        <td>{{results[name][i]}}</td>
                    
                    {% endfor %}
                </tr>
                {% endif %}
            {% endfor %}        
        </table>
        
        <table class = {{class}}>
            <caption>
                    Summed tests results
            </caption> 
            <tr bgcolor = 'silver'>
                <td>Tests Type</td>
                <td>Passed</td>
                <td>Failed</td>
                <td>Skipped</td>
                <td>Total</td>
                <td>Success %</td>
            </tr>
            {% for name in summed_res.keys() %}
                <tr bgcolor = {{ summed_res[name]['color']}}>
                    <td>
                        {{name}}
                    </td>
                    {% for i in summed_res[name] if i != 'color' %}
                    <td>
                        {{ summed_res[name][i] }}
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <div class = but>
            {% if pk > 1 %}
            <a href = "./{{pk-1}}"><button> previous </button></a>
            {% endif %}
            {% if total > pk %}
            <a href = "./{{pk+1}}"><button> next </button></a>
            {% endif %}
            <a href = "./{{pk}}/update"><button> update </button></a>
            {% if message %}
            <h2> {{message}}</h2>
            {% endif %}
        </div>

{% endblock %}
